.Button-pdf {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}

.Button-pdf:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.Button-pdf:active {
  background-color: rgba(0, 0, 0, 0.05);
}

.Pdf {
  position: fixed;
  transform: translateY(3000px);
  max-width: 210mm;
  min-width: 210mm;
  width: 100%;
}
